.input-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: medium;
    white-space: nowrap;
    box-sizing: content-box;
}

button:hover {
    background-color: rgb(29, 15, 15);
    color: white;
}

.form-field {
    margin: 1rem 0 1rem 0;
    font-size: larger;
}

.form-field input[type="text"] {
    font-size: large;
    border-radius: 5px;
    padding: 0.4rem;
}

input:not([type="checkbox"]) {
    width: 20rem;
    padding: 0.2rem;
}

input[type="checkbox"] {
    transform: scale(1.5);
}