* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(54, 63, 68);
  text-align: center;
  color: white;
}

.app-header {
  padding: 2rem;
  color: #312424;
  background-color: rgb(112, 198, 170);
  margin-bottom: 2rem;
}

.component-container {
  color: black;
  width: fit-content;
  margin: auto;
  padding: 1% 5% 1% 5%;
  background-color: #1aa1a1;
  border-radius: 5%;
  box-shadow: 0px 5px 20px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

.component-container h1 {
  margin: 3%;
  padding: 2%;
}

.input-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.completed {
  text-decoration: line-through;
}

h2 {
  text-align: center;
  margin: 3rem;
}
table {
  margin: auto;
  border-collapse: collapse;
  margin-bottom: 2rem;
  background-color: rgb(112, 198, 170);
  border-radius: 3%;
  box-shadow: 0px 5px 20px 15px rgba(0, 0, 0, 0.3);
}

td,
th {
  padding: 1rem;
  font-size: larger;
}

th {
  font-weight: bold;
  text-decoration: underline;
}

button {
  width: 5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: medium;
  white-space: nowrap;
  box-sizing: content-box;
}
button:hover {
  background-color: rgb(29, 15, 15);
  color: white;
}

.form-field {
  margin: 1rem 0 1rem 0;
  font-size: larger;
}

.form-field input[type="text"] {
  font-size: large;
  border-radius: 5px;
  padding: 0.4rem;
}

input:not([type="checkbox"]) {
  width: 20rem;
  padding: 0.2rem;
}

input[type="checkbox"] {
  transform: scale(1.5);
}
