* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(54, 63, 68);
  text-align: center;
  color: white;
}

.completed {
  text-decoration: line-through;
}

button {
  min-width: 4rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;
  white-space: nowrap;
  box-sizing: content-box;
}

button:hover {
  background-color: #230f48;
  color: white;
  font-weight: bold;
  transition: 0.4s ease-in-out background-color, 0.5s ease-in-out color, 0.5s ease-in-out font-weight;
}

input[type="checkbox"] {
  transform: scale(1.5);
  cursor: pointer;
}

input[type="checkbox"]:hover {
  transform: scale(2);
  transition: transform 0.5s ease-in-out;
}